extends layout

block content
  h1= title
  p list of messages on this instance.

  | Name:
  input(type='text', name='message-data', id= 'name-user')
  br
  br
  | Title:&nbsp;&nbsp;
  input(type='text', name='message-data', id= 'title-data')
  br
  br
  | Text:&nbsp;&nbsp;
  input(type='text', name='message-data', id= 'text-data')
  input(type='submit',onclick='sendData()', value='Submit')
  div(id="messages")


